PORT=5000
MONGO_URI = mongodb+srv://Ayush:Ayush0609@cluster0.7jxfl9b.mongodb.net/shopnest-mern?appName=Cluster0
JWT_SECRET = mysecretkey123

EMAIL_USER =shopnest450@gmail.com
EMAIL_PASS = mcwm htyt cmmi eqan

CLOUDINARY_CLOUD_NAME = ds6ampemc
CLOUDINARY_API_KEY = 973619718282868
CLOUDINARY_API_SECRET = PaAZStHhAeLVE4gyDXNI8paUnQs